.sale-content {
    color: black;
    width: 500px;
    font-size: 18px;
    font-weight: bolder;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}

.favorite {
	margin: 20px 0;
}
.favorite-button {
	width: 99%;
	border: 1px solid #ebebeb;
	height: 60px;
	border-radius: 10px;
}
.favorite-price {
	width: 49%;
	border: 1px solid #ebebeb;
	height: 60px;
	border-radius: 10px;
	padding: 0 10px;
	line-height: 60px;
	position: relative;
	background-color: #ef6253;
}
.favorite-chat {
	width: 49%;
	border: 1px solid #ebebeb;
	height: 60px;
	border-radius: 10px;
	
	line-height: 60px;
	position: relative;
	background-color: #41b979;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
}
.favorite-ul {
	position: relative;
	width: 100%;
}
.favorite-ul li{
	position: relative;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
	display: inline-block;
}
.delete_btn {
	width: 99%;
}
.price::before {
	height: 60px;
	content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 55px;
    width: 1px;
    position: absolute;
    background-color: rgba(34,34,34,.1);
}
.price {
	font-size: 18px;
}
.price-won {
	padding: 0 0 0 30px;
	font-size: 18px;
}

// mypage {} /// 

.mypage {
	padding: 10px 0 10px 0;
}
.main {
	margin: 0 auto;
	width: 1370px;
}
.user {
	width: 150px;
	height: 247px;
	position: absolute;
	margin-left:130px;
	
}
.ment {
	height: 500px;
	width: 1050px;
	float: right;	
}
/* content start */
.ment-h3 {
    padding: 23px 0 23px 23px;
	position: relative;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid #ebebeb;
    background-color: #fff;
    line-height: 35px;
    margin: 0;
    border-radius: 20px;
}
.ment-group {
    display: -webkit-box;
    display: flex;
    height: 100px;
}
.ment-img {
	position: relative;
    margin-right: 12px;
    width: 100px;
    height: 100px;
    margin-right: 12px;
    border-radius: 100%;
    flex-shrink: 0;
}
.ment-imt::after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(34,34,34,.05);
    border-radius: 50%;
}
.ment-img img{
    border-radius: 100%;
}
.ment-sale {
	position: relative;
	margin-top: 40px;
}
.ment-info {
	padding: 0;
    -webkit-box-align: center;
    align-items: center;
}
.ment-info-full {
	height: 100px;
}
.ment-name {
	line-height: 21px;
    font-size: 18px;
    letter-spacing: -.27px;
    font-weight: 600;
    color: #000;
}
.ment-email {
	line-height: 15px;
}
.ment-pokit {
	display: -webkit-box;
    display: inline-flex;
}
.ment-updata {
	padding: 0 14px;
    border-radius: 10px;
	margin-top: 12px;
    align-self: flex-start;
    line-height: 34px;
	border: 1px solid #d3d3d3;
	color: rgba(34,34,34,.8);
}
.sell {
	
}
.ment-logout {
	padding: 0 14px;
    border-radius: 10px;
	margin-top: 12px;
    align-self: flex-start;
    line-height: 34px;
	border: 1px solid #d3d3d3;
	color: rgba(34,34,34,.8);
}
.ment-updata-a {
	font-size: 12px;
	text-decoration: none;
	color:rgba(34,34,34,.8);;
}
.ment-ship {
    position: relative;
    margin-left: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.ment-ship::before {
	content: "";
    position: absolute;
    top: 0;
    left: 5%;
    bottom: 0;
    background-color: #ebebeb;
    width: 1px;
}
.ment-ship-p {
	width: 159px;
	text-align: center;
}
.ul-sale {
	border: 1px solid #f2f9f6;
	border-radius: 12px;
	background-color: #f2f9f6;	
}
.mypage-sell {
		height: 96px;
	padding-top: 18px;
	display: block;
	text-align: center;
}
.mypage-before::before{
	content: "";
    position: absolute;
    top: 18px;
    right: 0;
    width: 1px;
    bottom: 18px;
    background-color: #ebebeb;
}

// profile start // 
.profile-top {
	font-weight: bolder;
	color: black;
	border-bottom: 5px solid blue;
	width: 1050px;
}
.ment-profile {
	padding: 23px 0 23px 23px;
	position: relative;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
    line-height: 35px;
    margin: 0;
}
.profile-info {
	width: 480px;
	padding-top: 35px;
}
.profile-under {
	position: relative;
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0 15px 0;
}
.profile-under li {
	color:#a2a2a2;
}
.profile-pokit {
	    position: absolute;
    right: 0;
    bottom: 15px;
    padding-top: 1px;
    padding-left: 11px;
    padding-right: 12px;
}


/// sale_info // 시작 
.back-img {
	background-image:url('./img/soldout.png');
	background-position-x: center;
	background-repeat: no-repeat;
}
.sell_good p{
    font-size: 16;
    color:black;
    font-weight: bolder;
    margin: 30px 0;
    text-align: center;
}
// favorite info 시작 찜한내역

.checkbox_all {
	position: relative;
    margin-left: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: flex-end;
}